main {
  display: flex;
  flex-direction: column;
}

/*Hero Section*/
.hero__section {
  padding: var(--spacing-large);
}

.hero__section h1 {
  font-size: var(--font-size-large);
}

/*Grid Styling*/
.grid__section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--font-size-large);
}

.grid__container-products {
  width: 93%;
  height: 1100px;
  display: grid;
  gap: var(--spacing-medium);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.grid__container-products img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid__container-item1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.grid__container-item2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.grid__container-item3 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.grid__container-item4 {
  grid-column: 4/5;
  grid-row: 1/2;
}

.grid__container-item5 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.grid__container-item6 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.grid__container-item7 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.grid__container-item8 {
  grid-column: 4/5;
  grid-row: 2/3;
}

/*Artist Statement*/
.artist__statement {
  padding-top: var(--spacing-medium);
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist__statement-div {
  justify-content: center;
  align-items: center;
  padding-bottom: var(--spacing-large);
}

.artist__statement-div h2,
p {
  text-align: center;
  line-height: var(--spacing-large);
}

/*To the top button*/
.to__the-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  cursor: pointer;
}

button {
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  border-radius: 150px;
  color: white;
  border: 2px solid white;
  background-color: red;
  font-family: Bicyclette, sans-serif;
}

.button__hover :hover {
  color: white;
  border-color: red;
  cursor: pointer;
}
