body {
  min-height: 100vh;
  font-size: var(--font-size-small);
  font-family: "bicyclette", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;
  display: flex;
  flex-direction: column;
  margin: var(--spacing-medium);
}

main {
  flex-grow: 1;
}

/*Header Styling*/
header {
  width: 100%;
  display: flex;
}

.navbar__container {
  height: var(--spacing-medium);
  width: 100%;
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  max-width: 78px;
  height: auto;
}

.navbar__links {
  display: flex;
  justify-content: right;
  font-weight: 3050;
}

.navbar__links li {
  margin-left: 50px;
}

/*Hover Styling*/
a :hover {
  color: var(--hover-color);
}

/*Footer Styling*/
footer {
  width: 100%;
  display: flex;
}

.footer__container {
  height: var(--spacing-large);
  width: 100%;
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  max-width: 78px;
  height: auto;
}

.footer__links {
  display: flex;
  justify-content: right;
}

.footer__links li {
  margin-left: 50px;
}

.footer__links a {
  color: var(--text-color);
}

.footer__links a:visited {
  color: var(--link-corlo);
}
